<?xml version='1.0' encoding='UTF-8'?>
<proxy>
  <name>{{ proxy_ip }}</name>
  <port>{{ proxy_port }}</port>
  <noProxyHost>{{ noproxy_ip }}</noProxyHost>
  <secretPassword>{AQAAABAAAAAQVekqFCwk/XTN9bzWJfFtfj+wosmNLZDIo7c/iJZYnow=}</secretPassword>
  <testUrl>http://www.yahoo.co.jp</testUrl>
</proxy>